[Unit]
Description=PeerCall
After=network.target

[Service]
ExecStart=/snap/bin/node /opt/peercall/server.js
WorkingDirectory=/opt/peercall
Restart=always

[Install]
WantedBy=multi-user.target
