[Unit]
Description=PeerCall

[Service]
ExecStart=/snap/bin/node /opt/peercall/server.js
WorkingDirectory=/opt/peercall

[Install]
WantedBy=multi-user.target
